@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    background-color: #e6cea0;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.CookieClicker {
    background-color: #fff;
    padding: 1em;
    margin: 0.6em;
    border-radius: 20px;
    max-width: 620px;
    width: 100%;
    box-shadow: 0px 7px 0px 0px #9d7e67;
}

.Title {
    text-align: center;
    margin: 12px 0;
    line-height: 2.4rem;
}

.Cookies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.Cookie {
    margin: 15px;
    width: 100%;
    text-align: center;
}

.CookieIcon {
    cursor: pointer;
}

.CookieCount {
    font-size: 1.2em;
}

@media screen and (max-width: 624px) and (min-width: 420px) {
    .Cookies {
        grid-template-columns: repeat(2, 1fr);
    } 
}

@media screen and (max-width: 420px) {
    .Cookies {
        grid-template-columns: repeat(1, 1fr);
    }
}